<ul id="games">
    {% for game in games %}
    <li>
        <form method="POST" hx-post="/games/{{game.id}}" hx-target="#games" hx-swap="innerHTML">
            <label for="title">Title</label>
            <input name="title" value="{{game.title}}" placeholder="Title">
            <label for="start_date">Start date</label>
            <input type="date" name="start_date" value="{{game.start_date}}" placeholder="Start Date">
            <label for="end_date">End date</label>
            <input type="date" name="end_date" value="{{game.end_date}}" placeholder="End Date">
            <label for="steam_store_url">Steam Store link</label>
            <input name="steam_store_url" value="{{game.steam_store_url}}" placeholder="Steam URL">
            <label for="gog_store_url">GOG Store link</label>
            <input name="gog_store_url" value="{{game.gog_store_url}}" placeholder="GOG URL">
            <label for="image_url">Image</label>
            <input name="image_url" value="{{game.image_url}}" placeholder="Image URL">

            <label for="comments">Comments</label>
            <textarea name="comments" placeholder="Comments">{{game.comments|join(', ')}}</textarea>
            <label for="tags">Tags</label>
            <input name="tags" value="{{game.tags|join(',')}}" placeholder="Tags (comma separated)">

            <label for="platforms">Platforms</label>
            <select id="platforms" name="platforms" multiple>
                {% for platform in platforms %}
                <option value="{{ platform.id }}" {% if platform.name in game.platforms %}selected{% endif %}>
                {{ platform.name }}
                </option>
                {% endfor %}
            </select>

            <label for="genres">Genres</label>
            <select id="genres" name="genres" multiple>
                {% for genre in genres %}
                <option value="{{ genre.id }}" {% if genre.name in game.genres %}selected{% endif %}>
                {{ genre.name }}
                </option>
                {% endfor %}
            </select>

            <label for="developer">Developer</label>
            <input name="developer" value="{{game.developer}}" placeholder="Developer">
            <label for="rating">Rating</label>
            <input name="rating" type="number" min="0" max="10" value="{{game.rating}}" placeholder="Rating">

            <label for="completed">
                Completed
                <input type="checkbox" name="completed"
                                       {% if game.completed %}checked{% endif %} >
            </label>

                <button type="submit">Save</button>
        </form>

        <button hx-post="/games/{{game.id}}/delete" hx-target="#games" hx-swap="innerHTML">❌ Delete</button>
    </li>
    {% endfor %}
</ul>

<h3>Create New Game</h3>
<form method="POST" hx-post="/games" hx-target="#games" hx-swap="innerHTML">
    <label for="title">Title</label>
    <input name="title" placeholder="Title">
    <label for="start_date">Start date</label>
    <input type="date" name="start_date" placeholder="Start Date">
    <label for="end_date">End date</label>
    <input type="date" name="end_date" placeholder="End Date">
    <label for="steam_store_url">Steam Store url</label>
    <input name="steam_store_url" placeholder="Steam URL">
    <label for="gog_store_url">GOG Store url</label>
    <input name="gog_store_url" placeholder="GOG URL">
    <label for="image_url">Image</label>
    <input name="image_url" placeholder="Image URL">

    <label for="comments">Comments</label>
    <textarea name="comments" placeholder="Comments"></textarea>
    <label for="tags">Tags</label>
    <input name="tags" placeholder="Tags (comma separated)">

    <label for="platforms">Platforms:</label>
    <select id="platforms" name="platforms" multiple>
        {% for platform in platforms %}
        <option value="{{ platform.id }}">{{ platform.name }}</option>
        {% endfor %}
    </select>

    <label for="genres">Genres:</label>
    <select id="genres" name="genres" multiple>
        {% for genre in genres %}
        <option value="{{ genre.id }}">{{ genre.name }}</option>
        {% endfor %}
    </select>

    <label for="developer">Developer</label>
    <input name="developer" placeholder="Developer">
    <label for="rating">Rating</label>
    <input name="rating" type="number" min="0" max="10" placeholder="Rating">
    <label for="completed">
        Completed
        <input type="checkbox" name="completed"
    </label>

        <button type="submit">Create</button>
</form>
