<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🕹️🪵</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <script src="https://unpkg.com/htmx.org@2.0.4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<script>
  function updateRating(clickedEl, value) {
  const container = clickedEl.closest('.rating-container');
  const input = container.querySelector('input[name="rating"]');
  const blocks = container.querySelectorAll('.rating-blocks > div');

  input.value = value;

  blocks.forEach((block, index) => {
    if (index < value) {
      block.style.backgroundColor = '#3b82f6';
      block.style.color = 'white';
    } else {
      block.style.backgroundColor = '#e5e7eb';
      block.style.color = 'black';
    }
  });
}
</script>
</head>
<body>
    <h1>🕹️🪵</h1>
    <ul id="games" hx-get="/games" hx-swap="innerHTML" hx-trigger="load"></ul>

</body>
</html>
